{% extends "index.html" %}
{% load static %}
{% block content %}
<body>

    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>color</th>
                            <th>size</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for item in cart %}
                        {% with product=item.product %}
                        <tr>
                            <td class="align-middle">{{ product.name }}</td>
                            <td class="align-middle">??{{ item.color }}</td>
                            <td class="align-middle">??{{ item.size }}</td>
                            <td class="align-middle">${{ item.price }}</td>
                            <td class="align-middle">
                                <form action="{% url 'cart:cart_add' product.id %}" method="post" >
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                    <input type="submit" value="обновить" class="btn btn-sm btn-primary">
                                    {% csrf_token %}
                                </form>
                            </td>
                            <td class="align-middle">${{ item.total_price }}</td>
                            <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                {{ cart_product_form }}
                                {% csrf_token %}
                            <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                            </form>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">
                            {% with total_items=cart|length %}
                                {% if cart|length > 0 %}
                                    ${{ cart.get_total_price }}
                                {% else %}
                                    Your cart is empty.
                                {% endif %}
                            {% endwith %}
                            </h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">$160</h5>
                        </div>
                        <form action="{% url 'orders:order_create' %}" method="post">
                            {% csrf_token %}
                        <button class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->

</body>
{% endblock %}